.disappear {
    display: none !important;
}

.show {
    display: inline-block;
}

.fib-headline {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
    color: #373A3C;
}

.fib-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #373A3C;
}

.box {
    width: 86px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

.blue-box {
    width: 39px;
    height: 38px;
    background: #0275D8;
    border: 1px solid #0275D8;
    box-sizing: border-box;
    border-radius: 4px;
}

.answer {
    width: 28px;
    height: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    align-items: flex-end;
    text-decoration-line: underline;
    color: #373A3C;
}

.morethanfifthy {
    width: 190px;
    height: 33px;
    background: #F2DEDE;
    border: 0px solid #EBCCCC;
    border-radius: 4px;
    margin-left: 75px;
    margin-top: 10px;
}

.redtext {
    width: 277px;
    height: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: flex-end;
    color: #D9534F !important;
}

#fullPage {
    padding: 55px;
}

#fibonacciInput {
    padding-top: 20px;
}

body {
    font-size: 1.2rem;
}

.displayResultsInline span {
    border-bottom: 1px solid black;
    font-size: 25px;
}

#memoriesHeadline {
    display: none;
}

#fibonacciMemories {
    padding-top: 60px;
}

#saveCalculation span {
    top: 2px;
    position: relative;
}